@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Karla:wght@200;400;800&family=Montserrat:ital,wght@0,100;0,900;1,600&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-primary: #f1a600;
  --black-dark: #1f1d2c;
  --black-semi-dark: #242635;
  --white-gray: #e5e5e5;
  --white: #ffffff;
  --white-transparency: #e5e5e510;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black-dark);
  color: var(--white);
  font-size: 16px;
  font-weight: lighter;
}

nav > ul > li {
  display: none;
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: #e5e5e5;
  font-size: 22px;
  position: fixed;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.co-background {
  width: 60%;
  height: 30vh;
  background-color: var(--white-transparency);
  position: absolute;
  right: 0;
  z-index: -1;
}
.presentacion {
  padding: 20px;
  z-index: 5;

  background-repeat: no-repeat;
  background-attachment: fixed;
}
.presentacion > img {
  width: 110px;
  position: absolute;
  right: 20px;
  margin-top: -70px;
  z-index: -1;
}

.presentacion > h2 {
  padding-top: 40px;
}
.titulo {
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 20px;
}
.subsection {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: lighter;
}
.subtitulo {
  font-size: 32px;
  font-weight: bolder;
}
p > span {
  color: var(--orange-primary);
}
.presentacion > p {
  padding-bottom: 20px;
}
.icons {
  margin-left: 20px;
}
.acerca-container {
  background-color: var(--white-transparency);
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.acerca-container > h2 {
  text-align: center;
}
.acerca-container > p {
  text-align: center;
  padding: 20px 10px 30px 10px;
}
.empresas-estudio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px 10px 20px;
}
.bloque-empreestu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bloque-empreestu > img {
  width: 70px;
  margin-bottom: 10px;
}
.expreiencia-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
  padding: 20px;
}
.expreiencia-section > h2 {
  text-align: center;
  padding-top: 40px;
}
.items-experiencia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 40px;
}
.item-datos {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 40px;
}
.item-exp {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: space-around;
}
.habilidades::before {
  content: "";
  width: 30%;
  height: 45vh;
  background-color: var(--white-transparency);
  position: absolute;
  z-index: -1;
}
.habilidades {
  display: flex;
  flex-direction: column;
}
.habilidades > h1 {
  text-align: center;
  padding: 40px 0px 20px 0px;
}
.item-habilidades {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 20px 40px 0px 40px;
}
.item-habilidades > h4 {
  padding-left: 40px;
}
.item-habilidades > h2 {
  color: var(--orange-primary);
}
.portafolio-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 80px;
}
.portafolio-container > h1 {
  padding-bottom: 20px;
}
.proyecto {
  color: var(--white-gray);
  text-decoration: solid;
  cursor: pointer;
}

.proyecto > img {
  width: 190px;
  height: 150px;
  object-fit: cover;
}

.proyecto1 {
  padding-right: 100px;
}
.proyecto1::after {
  content: "";
  width: 211px;
  height: 150px;
  background-color: var(--orange-primary);
  position: absolute;
  margin: -190px 0px 0px -10px;
  z-index: -1;
}
.proyecto2 {
  padding-left: 150px;
}
.proyecto3 {
  padding-right: 100px;
}
.proyecto3::after {
  content: "";
  width: 211px;
  height: 150px;
  background-color: var(--orange-primary);
  position: absolute;
  margin: -190px 0px 0px -10px;
  z-index: -1;
}
.contact-container {
}
.imgback {
  position: absolute;
  z-index: -1;
}
