@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Karla:wght@200;400;800&family=Montserrat:ital,wght@0,100;0,900;1,600&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-primary: #f1a600;
  --black-dark: #1f1d2c;
  --black-semi-dark: #242635;
  --white-gray: #e5e5e5;
  --white: #ffffff;
  --white-transparency: #e5e5e510;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black-dark);
  color: var(--white);
  font-size: 16px;
  font-weight: lighter;
}

.display-menu {
  animation-name: aparecer-elementos-nav;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.hide-menu {
  animation-name: desaparecer-elementos-nav;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.change-burger-x {
  animation-name: rotate-start;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.change-x-burger {
  animation-name: rotate-end;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.svgs-presentation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3rem;
}

@keyframes aparecer-elementos-nav {
  0% {
    left: -200rem;
  }
  80% {
    left: 2rem;
  }
  100% {
    left: 0rem;
  }
}

@keyframes desaparecer-elementos-nav {
  0% {
    left: 0rem;
  }
  80% {
    left: 2rem;
  }
  100% {
    left: -200rem;
  }
}

@keyframes rotate-start {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-end {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes color-change {
  0% {
    background-color: var(--black-semi-dark);
  }
  20% {
    background-color: #291c218e;
  }
  40% {
    background-color: #1d272c8e;
  }
  60% {
    background-color: #253b248e;
  }
  80% {
    background-color: #30222c8e;
  }
  100% {
    background-color: #2842448e;
  }
}

.background--dinamic {
  background-color: #21491f;
  animation-name: color-change-mobile;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.menu {
  position: fixed;
  background-color: var(--black-semi-dark);
  width: 100%;
  margin-top: 60px;
  padding: 40px;
  text-align: center;
  list-style: none;
  left: -200rem;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

br {
  margin-top: 15px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.menu > a:hover {
  border-bottom: solid var(--orange-primary) 1px;
  cursor: pointer;
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: #e5e5e5;
  font-size: 22px;
  position: fixed;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.co-background {
  width: 60%;
  height: 30vh;
  background-color: var(--white-transparency);
  position: absolute;
  right: 0;
  z-index: -1;
}
.presentacion {
  padding: 20px;
  z-index: 5;

  background-repeat: no-repeat;
  background-attachment: fixed;
}
.presentacion > img {
  width: 110px;
  position: absolute;
  right: 20px;
  margin-top: -70px;
  z-index: -1;
}

.presentacion > h2 {
  padding-top: 40px;
}
.titulo {
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 20px;
}
.subsection {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: lighter;
}
.subtitulo {
  font-size: 32px;
  font-weight: bolder;
}
p > span {
  color: var(--orange-primary);
}
.presentacion > p {
  padding-bottom: 20px;
}
.icons {
  margin-left: 20px;
}
.acerca-container {
  background-color: var(--white-transparency);
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.acerca-container > h2 {
  text-align: center;
}
.acerca-container > p {
  text-align: center;
  padding: 20px 10px 30px 10px;
}
.empresas-estudio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px 10px 20px;
}
.bloque-empreestu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bloque-empreestu > img {
  width: 70px;
  margin-bottom: 10px;
}
.expreiencia-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
  padding: 20px;
}
.expreiencia-section > h2 {
  text-align: center;
  padding-top: 40px;
}
.items-experiencia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 40px;
}
.item-datos {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 40px;
}
.item-exp {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: space-around;
}
.habilidades::before {
  content: "";
  width: 30%;
  height: 45vh;
  background-color: var(--white-transparency);
  position: absolute;
  z-index: -1;
}
.habilidades {
  display: flex;
  flex-direction: column;
}
.habilidades > h2 {
  text-align: center;
  padding: 40px 0px 20px 0px;
}
.item-habilidades {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 20px 40px 0px 40px;
}
.item-habilidades > h4 {
  padding-left: 40px;
}
.item-habilidades > h2 {
  color: var(--orange-primary);
}
.portafolio-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 80px;
}
.portafolio-container > h1 {
  padding-bottom: 20px;
}
.proyecto {
  color: var(--white-gray);
  text-decoration: solid;
}

.home-a {
  color: var(--orange-primary);
  font-weight: bold;
}
.proyecto > img {
  width: 190px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}
.proyecto > p {
  cursor: pointer;
  width: 200px;
}

.proyecto1 {
  padding-right: 100px;
}
.proyecto1::after {
  content: "";
  width: 211px;
  height: 150px;
  background-color: var(--orange-primary);
  position: absolute;
  margin: -190px 0px 0px -10px;
  z-index: -1;
}
.proyecto2 {
  padding-left: 150px;
}
.proyecto3 {
  padding-right: 100px;
}
.proyecto3::after {
  content: "";
  width: 211px;
  height: 150px;
  background-color: var(--orange-primary);
  position: absolute;
  margin: -190px 0px 0px -10px;
  z-index: -1;
}
.contact-container {
  background-color: var(--white-transparency);
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.contact-container > h2 {
  text-align: center;
  padding: 20px 0px 40px 0px;
}
.items-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;
}

.contacto-item2 {
  padding-top: 40px;
  position: relative;
}
footer > h4 {
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  padding: 25px 0px 25px 0px;
}

@media only screen and (min-width: 650px) {
  .presentacion > img {
    width: 250px;
    top: 248px;
    right: 77px;
  }
  svg {
    transform: scale(1.5);
    width: 80px;
  }
  .menu {
    left: 0rem;
  }

  .titulo {
    font-size: 90px;
  }
  .subsection {
    font-size: 38px;
    padding-bottom: 55px;
  }
  .presentacion > p {
    font-size: 22px;
    padding-bottom: 88px;
  }
  .presentacion {
    padding-bottom: 168px;
  }
  .icons {
    width: 70px;
  }
  .subtitulo {
    font-size: 52px;
  }
  .acerca-container > p {
    font-size: 22px;
  }
  .exp-item > h4 {
    font-size: 20px;
  }
  .item-exp > h4 {
    font-size: 20px;
  }
  .item-habilidades > h2 {
    font-size: 40px;
  }
  .habilidades::before {
    height: 65vh;
  }
  .item-habilidades > h4 {
    padding-left: 91px;
    padding-top: 20px;
    font-size: 22px;
  }
  .portafolio-container {
    padding-top: 98px;
  }
  .proyecto > img {
    width: 242px;
    height: 190px;
  }
  .proyecto1 {
    margin-right: 319px;
  }
  .proyecto1::after {
    width: 261px;
    height: 183px;
    margin-top: -251px;
  }
  .proyecto2 {
    margin-right: -204px;
  }
  .proyecto3 {
    margin-right: 319px;
  }
  .proyecto3::after {
    width: 261px;
    height: 183px;
    margin-top: -251px;
  }
  .icon-contact {
    width: 120px;
  }
  .contacto-item1 {
    font-size: 22px;
  }
  .contacto-item2 {
    font-size: 22px;
  }
  .co-background {
    height: 60vh;
  }
}

@media only screen and (min-width: 1150px) {
  .presentacion > img {
    width: 280px;
    top: 194px;
    right: 268px;
  }
  svg {
    transform: scale(2.3);
    width: 90px;
  }
  body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .background--dinamic {
    background-color: #21491f;
    animation-name: color-change;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .titulo {
    font-size: 70px;
    font-weight: bold;
  }
  .subsection {
    font-size: 38px;
    padding-bottom: 110px;
  }
  .presentacion > p {
    font-size: 22px;
    padding-bottom: 130px;
  }
  .presentacion {
    padding-bottom: 188px;

    padding-top: 70px;
  }

  .bloque-empreestu > img {
    width: 150px;
  }
  .icons {
    width: 190px;
  }
  .subtitulo {
    font-size: 52px;
  }
  .acerca-container > p {
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .acerca-container > h2 {
    padding-top: 40px;
  }
  .empresas-estudio {
    padding: 40px 20px 40px 20px;
  }
  .exp-item > h4 {
    font-size: 20px;
  }
  .item-exp > h4 {
    font-size: 20px;
  }
  .item-habilidades > h2 {
    font-size: 40px;
    margin-left: 324px;
  }
  .habilidades::before {
    height: 66vh;
    width: 30%;
  }
  .item-habilidades > h4 {
    padding-left: 91px;
    padding-top: 20px;
    font-size: 22px;
  }
  .portafolio-container {
    padding-top: 98px;
  }
  .proyecto > img {
    width: 382px;
    height: 333px;
  }
  .proyecto > p {
    width: 400px;
    text-align: center;
  }
  .proyecto1 {
    margin-right: 719px;
  }
  .proyecto1::after {
    width: 402px;

    height: 306px;
    margin-top: -400px;
  }

  .proyecto2 {
    margin-right: -824px;
  }
  .proyecto3 {
    margin-right: 719px;
  }
  .proyecto3::after {
    width: 402px;

    height: 306px;
    margin-top: -400px;
  }
  .icon-contact {
    width: 120px;
  }
  .contacto-item1 {
    font-size: 22px;
  }
  .contacto-item2 {
    font-size: 22px;
  }
  .co-background {
    height: 60vh;
  }
  .menu {
    background-color: transparent;
    margin-top: 0;

    padding: 10px 40px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    left: 0rem;
  }

  .btn-menu {
    display: none;
  }
}
